.choresText {
   color: rgb(90, 221, 30);
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rgb(47, 167, 37);
   font-size: larger;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
}

